.product-card{
    display:flex;
    gap:10px;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: blanchedalmond;
    text-align: center;
    border: 3px solid rgb(0, 46, 96);
}
.products-container{
    margin-top: 10px;
    display:grid;
    grid-template-columns: 402.5px 402.5px 402.5px;
    
    gap:10px;
    padding:10px;
    
}
.product-card p{
    margin:0px;
}
.product-card p img{
    width:100%;
    height:400px;
    object-fit: fill;
}
.product-card p button{
border:2px solid black;
background-color:cadetblue;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
margin-bottom: 5px;
}