<section class="intro"><h3>The Story of Cotton Clothing</h3><p>This shopping app is designed specifically 
    for purchasing cotton clothing for kids, focusing on comfort, safety,
     and ease of use. The app provides parents with a simple and reliable platform to browse

    , select, and buy high-quality cotton 
    clothes for their children.</p>
   
    
<p>
Cotton has been used in clothing for thousands of years and has always been valued for its softness, durability, and natural comfort. From traditional hand-woven fabrics to modern sustainable textiles, cotton has remained a trusted choice—especially for children’s clothing. Over time, parents across cultures have preferred cotton because it keeps kids 
comfortable in both warm and mild climates.</p></section>
<section class="about_cotton">
    <h3>Why cotton clothing for kids?</h3>
    <p>Cotton is one of the most suitable fabrics for children due to its soft texture, breathability, and skin-friendly nature.
         The app exclusively offers cotton-based clothing to ensure maximum comfort, especially for 
         kids with sensitive skin.</p>
         </section><section class="collection">
         <h3>Our Clothing Collection</h3>
         <p>The app offers a carefully curated collection of cotton clothing designed exclusively for kids. From playful everyday outfits to simple, elegant designs, each piece is made with comfort as the top priority.</p>
         The collection includes:
            <ul>
                <li>T-shirts, tops, shirts</li>
                <li>Comfortable shorts and trousers</li>
                <li>Soft cotton dresses</li>
            </ul>
         
</section>