.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(135deg, #c38eb4, #9d6b9f);
    height: 100px;
    padding: 40px;
    margin-top: 10px;
}

.title {
    color: #4a0025;
    font-size: 48px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-top: 19px;
    margin-bottom: 0px;
}

.navbar a {
    text-decoration: none;
    color: #fff8dc;
    font-size: 20px;
    margin-left: 25px;
    transition: all 0.3s ease;
}

.navbar a:hover {
    color: #1f6669;
   
}
.tagline{
    font-size: 15px;
    font-weight:1000;
    color: #9f0a54;
    margin-top: 0px;
    margin-left: 85px;
    
  font-family: 'Playfair Display', serif;
  

}
.logo-section{
    gap: 0px;
}
.logout{
    text-decoration: none;
    color: #91002e;
    font-size: 20px;
    margin-left: 25px;
    transition: all 0.3s ease;
    background-color: #c38eb4;
    border-radius: 10px;
   
}
.logout:hover{
    text-decoration: none;
    color: #ffbdbd;
    font-size: 20px;
    margin-left: 25px;
    transition: all 0.3s ease;
outline:none;
    background-color: #5d0223;
    border-radius: 10px;
    
}