.header{
    display:flex;
    justify-content:space-between;
    font-family:'Times New Roman', Times, serif;
    align-items:center;
    background-color:rgb(158, 109, 140);
    height:120px;
   margin-top: 0px;
}
.title{
    color: rgba(69, 2, 18, 0.888);
    padding:10px;
    font-size: 30px;
    margin-left: 10px;
     font-size: 60px;
     
}
.navbar a{
    text-decoration: none;
    color:blanchedalmond;
    padding:20px;
    font-size: 22px;
}
.navbar a:hover
{
    color:rgb(31, 102, 105);
padding:10px;

}
