.checkout-box {
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.cart-item {
  margin: 8px auto;
}
h2{
  margin-left:20px;
}
h3{
  margin-left:20px;
}
input {
  width: 90%;
  padding: 8px;
  margin: 8px auto;
}

button {
  padding: 8px 15px;
  background-color: #ff4d6d;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #e63950;
}
.checkitems{
  margin-left:20px;
}